{% extends 'home/home.html' %}

{% block content %}

    <h2>Planted Trees</h2>
    <p>Here is a list of all the trees this user has planted</p>

    <ul>
        {% for planted_tree in planted_trees %}
            <li>
                <a href="{% url 'planted-tree' pk=planted_tree.id %}">
                    {{ planted_tree.tree.name }}
                    {{ planted_tree.tree.scientific_name }}
                    {{ planted_tree.planted_at}}
                    {{ planted_tree.location }}
                    {{ planted_tree.height }}
                    <ul>
                        {% for account in planted_tree.accounts %}
                            <li>
                                {{ account }}
                            </li>
                        {% endfor %}
                    </ul>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
