{% extends 'home/home.html' %}

{% block content %}

    <h2>Planted Trees</h2>
    {% if account_listing %}
        <p>Here is a list of all the trees planted by the accounts</p>
    {% else %}
        <p>Here is a list of all the trees this user has planted</p>
    {% endif %}
    
    <ul>
        {% for planted_tree in planted_trees %}
            <li>
                {% if not account_listing %}
                <a href="{% url 'planted-tree' pk=planted_tree.id %}">
                {% endif %}
                    <ul>
                    {% if account_listing %}
                        <li>User: {{ planted_tree.user }}</li>
                        <li><ul> Accounts:
                            {% for account in planted_tree.accounts %}
                                <li>
                                    {{ account }}
                                </li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endif %}
                    <li>{{ planted_tree.tree.name }}</li>
                    <li>{{ planted_tree.tree.scientific_name }}</li>
                    <li>{{ planted_tree.planted_at}}</li>
                    <li>{{ planted_tree.location }}</li>
                    <li>{{ planted_tree.height }}</li>
                </ul>
                {% if not account_listing %}
                </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
